body {
  background-color: whitesmoke; /* Change this to your desired color */
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: orange;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Removed justify-content: center; */
  font-size: calc(35px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

.text-box {
  width: 500px; 
  height: 100px; 
  border: 1.5px solid black;
  margin: 10px; 
  padding: 10px; 
  background-color: #f8f8f8; 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}